<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
        <!-- <param name="min_height" value="-0.15"/> -->
        <!-- <param name="max_height" value="0.15"/> -->
        <param name="target_frame" value="camera_depth_frame"/>
        <remap from="cloud_in" to="/voxels"/>
        <remap from="scan" to="/voxels_scan"/>
    </node>
</launch>